* {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black; 
    color: seashell;
}

/* Header */

header {
    height: 69px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
}

.nav-item {
    display: inline;
    text-decoration: underline;
}

.nav-item:not(:last-child) {
    margin-right: 15px;
}

/* Mission Section */

#mission {
    display: flex;
    height: 700px;
    background-image: url("images/mission-background.jpg");
    background-size: cover;
}

#mission-banner {

}

#mission h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

#mission p {
    padding: 0;
    margin: 0;
}